/*

* Override Pages default styles or create your own styles here

*/

.page-heading{
    float: left;
    font-size: 19px;
    line-height: 28px;
    font-weight: normal;
    text-transform: uppercase;
	margin-bottom:10px; ;

}

.fileinput{
	position: relative;
}

.fileinput img{
	width: 100%;
}

.fileinput .file-remove{
	position: absolute;
	right: -5px; 
	top: -10px;
	font-size: 20px;
	color: red;
}

.center-block{
	display: table;
	margin: auto;
}

.settings-item{
	overflow: hidden;
}

.fileupload input {
	max-width: none;
}

.jconfirm-content-pane{
	height: auto !important;
}

.jconfirm{
	z-index: 999 !important;
}

.jconfirm-content .select2-container, .select2-container--open{
	z-index: 999 !important;
}

.first-form-row{
	padding-left: 7px !important;
}

.last-form-row{
	padding-right: 7px !important;
}

.dataTables_wrapper .row > div {
    display: block !important;
}
td{
    padding: 5px !important;
}
.table-width-10{
    width: 10px !important;
}
.table-width-120{
    width: 120px !important;
}
.table-width-200{
    width: 200px !important;
}
#datatable tr th{
    padding-left: 0px !important;
}

.dropzone-wrapper{
    margin: 20px;
    border: 4px #ddd dashed;
    padding: 20px;
    text-align: center;
    display: block;
}


.dropzone-wrapper i{
    font-style: italic;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.sm-text{
    font-size: 12px !important;
}

.dropzone-wrapper .input-file {
    margin: 0 auto;
}

.button {
    position: relative;
    overflow: hidden;
    font-family: inherit;
    padding: .5em 1em;
    color: #444;
    border: 1px solid #999;
    text-decoration: none;
    border-radius: 2px;
    display: inline-block;
    margin-left: 2px;
}

.input-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: pointer;
    display: block;
}

.media-upload-preview .progress{
    height: 15px !important;
}

.default-padding{
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.default-image-holder{
    width: 148px;
    height: 148px;
    position: relative;
}

.default-image-holder img{
    border: 1px solid #ddd;
}

.default-image-holder .image-remove{
    font-size: 20px;
    position: absolute;
    right: 0;
    top: -5px;
}

.addmore_holder{
    border: 1px solid rgba(0, 0, 0, 0.07);
    margin: 5px;
    padding: 5px 13px;
}

.addmore_holder label{
    text-transform: uppercase;
    font-size: 10.5px;
    font-family: 'Montserrat';
}

.table tbody tr td{
    background: none !important;
}

.offer-wrapper .selected{
    background: #1dbb9933;
}

.offer-wrapper .deselected{
    background: #dddddd40;
}

.offer-wrapper .btn-sm{
    line-height: 12px;
}

.offer-wrapper .list-group-item{
    padding: 4px 6px;
}
.offer-wrapper .list-group-item label{
    margin: 0;
}