<template>
    <div class="owl-carousel"
         :id="'owl-product'+id"
         data-nav="true"
         data-dots="false"
         data-margin="30"
         data-responsive='{
                                        "0":{"items":1},
                                        "480":{"items":2},
                                        "480":{"items":2},
                                        "768":{"items":4},
                                        "992":{"items":4},
                                        "1200":{"items":4}
                                    }'>



                                    <product
                                            v-for="product in products"
                                            v-bind:key="product.id"

                                            :id="product.id"
                                            :product_name="product.product_name"
                                            :img="product.url"
                                            :wishlist="true"
                                            :rating="50"
                                            :mrp="product.mrp"
                                            :selling_price="product.sale_price"
                                    ></product>
                                </div>
</template>

<script>
    require('../../../public/user/js/owl.carousel.min.js')
    export default {
        data(){
            return{
                products: [],
                product: {
                    id: '',
                    mrp: '',
                    sale_price: '',
                    product_name: '',
                    url: '',
                }
            }
        },
        created(){
                this.fetchProducts()
        },
        methods: {
            fetchProducts() {
                console.log('creating product list from '+ baseUrl.content+this.api);
                fetch(baseUrl.content+this.api)
                    .then(res => res.json())
                    .then(res =>{
                        this.products = res.data;
                    }).then(()=>{
                    var $owl = $('#owl-product'+this.id).owlCarousel({
                        lazyLoad:true,
                        items:4,
                    });
                    $owl.trigger('refresh.owl.carousel');
                });

            }
        },
        mounted() {
        },
        props:['api','id']
    }
</script>

<style >
    .product-item-opt-1 .product-item-label.label-price {
        width: 50px;
        padding: 7px 0 0;
        height: 50px;
        z-index:40;
    }
</style>