<template>
    <div class="block-floor-products block-floor-products-opt1 floor-products2" id="floor0-2">
        <div class="container">
            <div class="block-title">
                <span class="title"><img alt="img"  src="public/user/images/media/index1/floor2.png">Sports</span>
                <div class="links dropdown">
                    <button class="dropdown-toggle"  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" >
                        <ul  >
                            <li role="presentation" class="active"><a href="#floor2-1"  role="tab" data-toggle="tab">Best Seller </a></li>
                            <li role="presentation"><a href="#floor2-2"  role="tab" data-toggle="tab" @click=isMostViewedClicked()>Most Viewed </a></li>
                            <li role="presentation"><a href="#floor2-3"  role="tab" data-toggle="tab" v-on:click='isNewArrivals = !isNewArrivals'>New Arrivals <span class="label-cat">12</span></a></li>
                            <li role="presentation"><a href="#floor2-4"  role="tab" data-toggle="tab" v-on:click='isOpen = !isOpen'>Tennis            </a></li>
                            <li role="presentation"><a href="#floor2-5"  role="tab" data-toggle="tab" v-on:click='isOpen = !isOpen'>Football           </a></li>
                            <li role="presentation"><a href="#floor2-6"  role="tab" data-toggle="tab" v-on:click='isOpen = !isOpen'>Swimming            </a></li>
                            <li role="presentation"><a href="#floor2-7"  role="tab" data-toggle="tab" v-on:click='isOpen = !isOpen'>Climbing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="actions">
                    <a href="#floor0-1" class="action action-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                    <a href="#floor0-3" class="action action-down"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Banner -->
            <div class="block-banner-floor">

                <div class="col-sm-6">
                    <a href="" class="box-img"><img src="public/user/images/media/index1/banner2-1.jpg" alt="banner"></a>
                </div>
                <div class="col-sm-6">
                    <a href="" class="box-img"><img src="public/user/images/media/index1/banner2-2.jpg" alt="banner"></a>
                </div>

            </div><!-- Banner -->

            <div class="block-content">

                <div class="col-banner">
                    <span class="label-featured"><img src="public/user/images/icon/index1/label-featured.png" alt="label-featured"></span>
                    <a href="" class="box-img"><img src="public/user/images/media/index1/baner-floor2.jpg" alt="baner-floor"></a>
                </div>

                <div class="col-products tab-content">

                    <!-- tab 1 -->
                    <div class="tab-pane active in  fade " id="floor2-1" role="tabpanel">
                        <productlist api="/get/newproducts" v-bind:key="1" id="1"></productlist>
                    </div>

                    <!-- tab 2-->
                    <div class="tab-pane fade " id="floor2-2" role="tabpanel">
                        <productlist api="/get/topseller" v-if="isMostViewed" v-bind:key="2" id="2"></productlist>
                    </div>

                    <!-- tab 3 -->
                    <div class="tab-pane fade " id="floor2-3" role="tabpanel">
                        <productlist api="/get/1"></productlist>
                    </div>

                    <!-- tab 4 -->
                    <div class="tab-pane fade " id="floor2-4" role="tabpanel">
                        <productlist api="/get/1"></productlist>
                    </div>

                    <!-- tab 5 -->
                    <div class="tab-pane fade " id="floor2-5" role="tabpanel">
                        <productlist api="/get/1"></productlist>
                    </div>

                    <!-- tab 6 -->
                    <div class="tab-pane fade " id="floor2-6" role="tabpanel">
                        <productlist api="/get/1"></productlist>
                    </div>

                    <!-- tab 7 -->
                    <div class="tab-pane fade " id="floor2-7" role="tabpanel">
                        <productlist api="/get/1"></productlist>
                    </div>

                </div>

            </div>

        </div>
    </div><!-- block -floor -products / floor :Sports-->

</template>

<script>
    export default {
        data() {
            return{
                isMostViewed: false
            }
        },
        methods:{
            isMostViewedClicked: function(){
                if(!this.isMostViewed){
                    this.isMostViewed = !this.isMostViewed
                }
            }
        }
    }
</script>

<style scoped>

</style>