<template>
    <div class="product-item  product-item-opt-1 ">
        <div class="product-item-info">
            <div class="product-item-photo">
                <span class="product-item-label label-price"><span v-text="discount"></span>% <span>off</span></span>
                <a class="product-item-img" href=""><img alt="product name" :src="img"></a>
                <div class="product-item-actions">
                    <a class="btn btn-wishlist" href=""
                       v-bind:class="{ product_active: isActive}"><span>wishlist</span></a>
                   <!-- <a class="btn btn-compare" href=""><span>compare</span></a>
                    <a class="btn btn-quickview" href=""><span>quickview</span></a>-->
                </div>
                <button type="button" class="btn btn-cart"><span>Add to Cart</span></button>

            </div>
            <div class="product-item-detail">
                <strong class="product-item-name"><a href="" >{{product_name}}</a></strong>
                <div class="clearfix">
                    <div class="product-item-price">
                        <span class="price" v-text="selling_price"></span>
                        <span class="old-price" v-text="mrp"></span>
                    </div>
                    <div class="product-reviews-summary">
                        <div class="rating-summary">
                            <div :title="rating+'%'" class="rating-result">
                                   <span :style="'width:'+rating+'%'">
                                        <span><span v-text="rating"></span>% of <span>100</span></span>
                                   </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.isActive = this.wishlist;
            this.discount = Math.round(((this.mrp-this.selling_price)/(this.mrp))*100)
        },
        data: function(){
            return {
                isActive : null,
                discount :null
            }
        },
        props: [
            'id','img','wishlist','product_name','mrp','selling_price','rating'
        ]
    }
</script>

<style>
    .product_active{
        background-color: #f36 !important;
    }
</style>